.wrapper {
 display: flex;
 flex-direction: column;
 gap: 0.8rem;
 padding: 16px 0;
 border-top: solid 1px rgba(22, 24, 35, 0.06);
}

.label {
 color: rgba(22, 24, 35, 0.5);
 font-size: 1.4rem;
 font-weight: 700;
 margin-left: 8px;
}

.account-items {
 display: flex;
 flex-direction: column;
 gap: 0;
}

.account-item {
 display: flex;
 align-items: center;
 gap: 1.4rem;
 padding: 8px;
 border-radius: 4px;
 transition: background-color ease-in-out 200ms;
 cursor: pointer;

 &:hover {
  background-color: rgba(22, 24, 35, 0.03);
 }
}

.avatar {
 width: 32px;
 height: 32px;
 border-radius: 50%;
 object-fit: cover;
}

.info {
 display: flex;
 flex-direction: column;
}

.name {
 display: flex;
 gap: 6px;
 align-items: center;
 font-size: 1.6rem;
 font-weight: 600;
 line-height: 1.2;
}

.check {
 font-size: 1.4rem;
 color: rgb(32, 213, 236);
}

.username {
 font-size: 1.2rem;
 color: rgba(22, 24, 35, 0.5);
 font-weight: 500;
 line-height: 1.2;
}

.more-btn {
 color: var(--primary);
 font-size: 1.4rem;
 font-weight: 700;
 margin-left: 8px;
 cursor: pointer;

 &:hover {
  text-decoration: underline;
 }
}